[Desktop Entry]
Version=1.0
Type=Application
Name=Лог VNC
Comment=Показать последние события VNC
Terminal=true
Exec=/bin/bash -c "exec \"\\$(dirname \"\\$1\")/launch-log.sh\"" _ %k
Icon=text-x-log
Categories=System;Monitor;
