[Desktop Entry]
Version=1.0
Type=Application
Name=Мониторинг VNC
Comment=Запустить мониторинг с паролем текущего sudo-пользователя
Terminal=false
Exec=/bin/bash -c "exec \"\\$(dirname \"\\$1\")/run.sh\"" _ %k
Icon=network-server
Categories=System;Monitor;
